/*BASE*/
@font-face {
	font-family: TitleFont;
	src: url(Arvo-Regular.ttf);
}

@font-face {
	font-family: BodyFont;
	src: url(Montserrat-Medium.ttf);
}

body {
	font-family: unset;
	font-family: BodyFont;

}

h1, h2, h3 {
	font-family: unset;
	font-family: TitleFont;
}


/*STATES*/
.is-current {
	background-color: #463F3A;
	color: white;
}