/*BASE*/
@font-face {
	font-family: TitleFont;
	src: url(Arvo-Regular.ttf);
}

h1, h2, h3 {
	font-family: unset;
	font-family: TitleFont;
}


/*STATES*/
.is-current {
	background-color: #463F3A;
	color: white;
}